.hide {
    display: none;
}

.clearfix {
    text-align: right;
}

label.required:before {
    color: #dd191d;
    content: "*";
    display: block;
    float: left;
    margin: -6px 3px 0 0;
    font-size: 18px;
}

.required:before {
    color: #dd191d;
    content: "*";
    display: block;
    float: left;
    margin: 0 3px 0 0;
    font-size: 18px;
    font-weight: normal;
}

.fa-times-circle {
    color: #90080C !important;
}

.loading {
    padding-right: 16px;
}

.loading-right {
    padding-left: 16px;
}

body.focused-form {
    /* Ubicación de la imagen */
    background-image: url(../../img/fondo.jpg) !important;

    /* Nos aseguramos que la imagen de fondo este centrada vertical y horizontalmente en todo momento */
    background-position: center center !important;

    /* La imagen de fondo no se repite */
    background-repeat: no-repeat !important;

    /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando la altura del contenido supere la altura de la imagen */
    background-attachment: fixed !important;

    /* La imagen de fondo se reescala cuando se cambia el ancho de ventana del navegador */
    background-size: cover !important;

    /* Fijamos un color de fondo para que se muestre mientras se está cargando la imagen de fondo o si hay problemas para cargarla  */
    background-color: #fafafa !important;
}

/*@media only screen and (max-width: 767px) {
    body {
        background-image: url(images/background-photo-mobile-devices.jpg);
    }
}*/

.div-input-group {
    font-size: 20px; 
    margin-top: 11px; 
    margin-left: -66px;
    color: #03a9f4;
    font-family: 'Source Sans Pro Semibold';   
}

.ctrls {
    color: #333 !important
}

.table-bordered > tbody > tr:nth-child(odd) {
    background-color: #fcfcfc;
}

.create-register {
    float: right; 
    font-size: 21px;
}

.title, .panel-ctrls {
    display: inline-block;
}

.c-w {
    color: #fff !important;
}

.bc-g {
    background-color: #dcedc8 !important;
}

.btn-file {
    border: 1px solid #7cb342 !important;
}

.btn-file:hover {
    border: 1px solid #7cb342 !important;
}

.btn-default.fileinput-exists {
    border: 1px solid #7cb342 !important;
}

.btn-default.fileinput-exists:hover {
    border: 1px solid #7cb342 !important;
}

.dataTables_info {
    font-size: 18px;
}

.cur-pointer {
    cursor: pointer !important;
}

.bc-e51 {
    background-color: #e51c23;
    border: 1px solid #e51c23 !important; 
}

.bc-03a {
    background-color: #03a9f4;
    border: 1px solid #03a9f4 !important; 
}

.bc-ffd {
    background-color: #ffdd00;
    border: 1px solid #ffdd00 !important; 
}

.total {
    font-size: 16px; 
    padding: 5px 10px; 
    border-radius: 2px; 
    color: black;
}

.select2-choice {
    border: 1px solid #7cb342 !important;
}

.notifit_confirm {
    font-size: 18px;
}

.bt-bbd {
    border-top: 1px solid #64b5f6 !important;
}

.bc-8bc {
    background-color: #8bc34a;
}

.close {
    color: #fff !important;
    opacity: 0.6;
}

.close:hover,
.close:focus {
    color: #fff !important;
    opacity: 0.9;
}

#toolbar-search {
    width: 100%;
    position: absolute;
    text-align: center;
}

#canFotReferencial.disabled, #btn-file.disabled {
    opacity: 1 !important;
    background-color: #f4f4f4 !important;
}

#topnav #toolbar-search {
    z-index: -1;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fz-24 {
    font-size: 24px !important;
}

.fz-28 {
    font-size: 28px !important;
}

.panel .panel-heading .panel-ctrls i.separator {
    margin: 8px 8px;
}

.input-group-addon {
    padding: 3px 10px 5px !important;
}

.horizontal-nav header.navbar {
    z-index: 601 !important;
}

.horizontal-nav header.navbar-fixed-top + nav.navbar {
    z-index: 600 !important;
}

.modal {
    z-index: 650 !important;
}

.fw-700 {
    font-weight: 700;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-24 {
    font-size: 24px;
}

.va-middle {
    vertical-align: middle !important;
}

.p-20 {
    padding: 20px !important;
}

.artDescripcion, .egrDescripcion, .cliDireccion {
    font-size: 14px;
    width: 400px;
    margin: 2rem auto;
    line-height: 1.5rem;
    box-shadow: 0 0 1px;
}

.btn-label-custom {
    left: 0 !important;
    width: auto !important;
}

.tooltip {
    z-index: 3000 !important;
}

.mb-26 {
    margin-bottom: 26px !important;
}

/* Preloader */
#preloader {
    position: fixed;
    top:0; left:0;
    right:0; bottom:0;
    background: #ffffff;
    z-index: 1201;
}

#page-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 200px;
    height: 200px;
    background: transparent url(../../img/loading.svg) center no-repeat;
    margin: -75px 0 0 -75px;
}

/********************************/
.tx12{
    font-size: 13px !important;

}

#movimientos span, .replace {
    display: none; 
}
#panBody {
    background-color: lightgrey !important;
    border: 1px solid #212121;
}

#panFiltros {
    box-shadow: none !important;
    margin-bottom: 16px !important;
}

#panFiltros div.dataTables_filter label {
    float: none !important;
    width: 80% !important;
}

#panFiltros div.dataTables_filter input {
    width: 100% !important;
    border: 1px solid #212121;
}

/* Preloader alt */
#preloader-alt {
    position: fixed;
    top:0; left:0;
    right:0; bottom:0;
    background: #000000;
    opacity: 0.5;
    z-index: 1201;
}

#page-loader-alt {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 200px;
    height: 200px;
    background: transparent url(../../img/loading-alt.svg) center no-repeat;
    margin: -75px 0 0 -75px;
}

/********************************/

#headernav .navbar-nav li i {
    min-width: 0 !important;
}

#headernav .navbar-collapse {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 0 !important;
}

#headernav.navbar-blue .navbar-nav {
    z-index: 1;
}

#headernav.navbar-blue .navbar-nav li a {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#headernav.navbar-blue .navbar-nav ul {
    min-width: fit-content !important;
}

#headernav.navbar-blue .navbar-nav ul li a {
    padding: 7px !important;
}

@media (max-width: 767px) {
    #headernav .navbar-collapse {
        height: 0 !important;
    }

    #headernav.navbar-blue .navbar-nav li a {
        padding-left: 7px !important;
        padding-right: 7px !important;
    }

    #headernav.navbar-blue .navbar-nav {
        width: fit-content;
        position: absolute;
        right: 16px;
    }

    .title {
        margin-top: 0;
    }

    .panel-heading {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        text-align: center;
    }

    .panel-ctrls {
        margin-right: 0 !important;
        float: inherit !important;
    }

    /*.panel-ctrls .dataTables_filter {
        float: left !important;
    }*/

    .title-xs {
        display: inline-block !important;
    }

    .dataTables_info {
        text-align: center;
    }

    /*.div.dataTables_paginate {
        float: none !important;
        display: inline-block !important;
    }*/
}

@media (max-width: 320px) {
    div.dataTables_filter input {
        width: 14em !important;
    }
}

/*.panel-ctrls .dataTables_filter {
    margin-top: 5px !important;
}*/

.notifit_prompt_bg {
    z-index: 700;
}

.table > thead:first-child > tr:first-child > th {
    font-size: 16px;
}

table.table-bordered#salidas tbody td, table.table-bordered#clientes tbody td, table.table-bordered#articulos tbody td {
    font-size: 16px;
}

table.table-bordered#gastos tbody td {
    font-size: 16px;
}

.td-u {
    text-decoration: underline;
}

.fileinput .thumbnail > img {
    max-width: 200px !important;
    max-height: 150px !important;
}




/*@media screen and (max-width: 600px) {
    table {
       width: 100%;
    }

    thead {
        display: none;
    }

    tr:nth-of-type(2n) {
        background-color: inherit;
    }

    tr td:first-child {
       background: #f0f0f0;
       font-weight:bold;
       font-size:1.3em;
    }

    tbody td {
       display: block;
       text-align:center;
    }

    tbody td:before {
       content: attr(data-th);
       display: block;
       text-align:center;
    }
}*/



.pika-single {

    width: fit-content !important;
    z-index: 0 !important;
}

.note-editor.note-frame {
    box-shadow: none;
    margin-bottom: 0;
}

.panel-heading.note-toolbar>.btn-group {
    display: block;
}

.note-editor.note-frame .note-editing-area .note-editable {
    color: #616161 !important;
}

.is-selected.has-event .pika-button {
    background: #33aaff;
}

.has-event .pika-button {
    box-shadow: none !important;
}

table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc { 
    background : none !important; 
} 